{include file="public/header" /}

<!--内容-->
<div class="container">
    <div class="row mt-2">
        <div class="col-md-12 bgc">

            <div class="new">
                <span><i class="el-certificate"></i>推荐图文</span>
                <small>New Article</small>
            </div>
        </div>

        <div class="col-md-12 mt-4 wow bounceInDown">
            <div class="row">
                <div class="col-md-3 col-sm-6 ">
                    <div class="card box-shadow  mt-4">
                        <div class="showimg">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/1.png" data-holder-rendered="true">
                        </div>

                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted"><i class="el-fire"></i>9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  box-shadow mt-4">
                        <div class="showimg showtitle">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/2.png" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  box-shadow mt-4">
                        <div class="showimg">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/3.png" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="card  box-shadow mt-4">
                        <div class="showimg">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/1.png" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6  ">
                    <div class="card box-shadow  mt-4">
                        <div class="showimg">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/4.jpg" data-holder-rendered="true">
                        </div>

                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted"><i class="el-fire"></i>9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  box-shadow mt-4">
                        <div class="showimg showtitle">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/6.jpg" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  box-shadow mt-4">
                        <div class="showimg">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/5.jpg" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="card  box-shadow mt-4">
                        <div class="showimg">
                            <img class="card-img-top"  style=" width: 100%; display: block;" src="images/13.jpg" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                            <a href="#">测试图文</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group showtitle">
                                    <i class="el-time"></i>2019-04-03
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>
{include file="public/footer" /}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="lib/jquery/jquery.js"></script>

<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="js/wow.js"></script>
<script>
    new WOW().init();//把wow初始化

</script>
<script>
    window.onload=function () {
        var art_list=document.getElementById('box');
        var art_list_a=art_list.getElementsByTagName('a');

        for (var i=0;i<art_list_a.length;i++){

            var aclick = art_list_a[i];

            aclick.onclick=function(){

                for (var j=0;j<art_list_a.length;j++){
                    art_list_a[j].className='';
                    art_list_a[j].style.color='#000000';
                }
                this.className='actives';
                this.style.color='#ffffff';
            };


        }

    }
</script>
</body>
</html>